# App
PORT=3000

# Log level: debug, info, notice, warning or error
LOG_LEVEL=debug

# Log format: simple or json
LOG_FORMAT=simple

# RPC. Mainnet or Goerli
RPC_URL=

# Kafka client id (leave empty, for development only)
KAFKA_CLIENT_ID=

# Kafka topic
BROKER_TOPIC=defender

# Pubsub (default: rabbitmq)
PUBSUB_SERVICE=rabbitmq

RABBITMQ_URL=wss://dsm.testnet.fi/ws
RABBITMQ_LOGIN=test
RABBITMQ_PASSCODE=test

# Kafka credentials
KAFKA_SASL_MECHANISM=plain
KAFKA_SSL=true
KAFKA_USERNAME=test
KAFKA_PASSWORD=test

# Kafka broker address+port
KAFKA_BROKER_ADDRESS_1=localhost:9092

# Private key
# Used to sign transactions and stop the protocol.
# Make sure there are enough ETH on the balance to send a transaction to stop the protocol
WALLET_PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000

# KEYS API

# App
KEYS_API_PORT=3001

# CORS
KEYS_API_CORS_WHITELIST_REGEXP=^https?://(?:.+?\.)?(?:lido|testnet|mainnet)\.fi$

# The number of seconds that each request will last in storage
KEYS_API_GLOBAL_THROTTLE_TTL=5

# The maximum number of requests within the TTL limit
KEYS_API_GLOBAL_THROTTLE_LIMIT=100

# Cache expiration time in seconds
KEYS_API_GLOBAL_CACHE_TTL=1

# Log level: debug, info, notice, warning or error
KEYS_API_LOG_LEVEL=debug

# Log format: simple or json
KEYS_API_LOG_FORMAT=json

# chain id
# for mainnet 1
# for testnet 5
KEYS_API_CHAIN_ID=1

KEYS_API_PROVIDERS_URLS=https://mainnet.infura.io/v3/XXX,https://eth-mainnet.alchemyapi.io/v2/YYY

# DB config
KEYS_API_DB_NAME=node_operator_keys_service_db
KEYS_API_DB_PORT=5432
KEYS_API_DB_HOST=localhost
KEYS_API_DB_USER=postgres
KEYS_API_DB_PASSWORD=postgres
