name: Tests and checks
on: pull_request
jobs:
  test:
    name: App tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Run lint
        run: yarn lint
      - name: Run tests
        run: yarn test
      - name: Run e2e transports
        run: docker compose -f docker-compose.test.yml up -d
      - name: Run e2e tests
        run: yarn test:e2e
        env:
          RPC_URL: ${{ secrets.RPC_URL }}
          WALLET_PRIVATE_KEY: ${{ secrets.WALLET_PRIVATE_KEY }}
